        #menu__toggle {
            display: none;
        }
        
        .hamburger-menu {
            z-index: var(--z-menu-button);
            display: block;
        }
        
        .more li {
            font-size: 18px;
            line-height: 29px;
            font-weight: 600;
            color: #252525;
            transition: all 0.5s ease;
            position: relative;
        }
        
        .more ul {
            padding: 10px 12px;
        }

        .menu__item.i3.open, .menu__item.i4.open, .menu__item.i2.open, .menu__item.i1.open {
background: #fafafa;
        }
        
        .more .more_head {
            font-size: 16px;
            line-height: 29px;
            font-weight: 400;
            color: #252525;
            transition: all 0.5s ease;
            position: relative;
        }
        
        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(45deg);
        }
        
        #menu__toggle:checked~.menu__btn>span::before {
            top: 0;
            transform: rotate(0);
        }
        
        #menu__toggle:checked~.menu__btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }
        
        #menu__toggle:checked~.menu__box {
            visibility: visible;
            right: 0;
        }
        
        .menu__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 20px;
            cursor: pointer;
            z-index: var(--z-menu-button);
        }
        
        .more {
            max-height: 0;
            overflow: hidden;
            position: relative;
            transition: max-height 650ms ease, padding-top 650ms ease;
        }
        
        .i1.open .m1 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .i2.open .m2 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .i3.open .m3 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .i4.open .m4 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .i5.open .m5 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .i6.open .m6 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .i7.open .m7 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .i8.open .m8 {
            max-height: 1000rem;
            padding-top: 0;
        }
        
        .menu_arrow_rotate {
            margin-left: 15px;
            filter: invert(100%);
            transition-duration: 650ms;
        }
        
        .menu_arrow {
            margin-left: 15px;
            filter: invert(100%);
        }
        
        .menu__box .btn-red {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            padding: 16px;
            width: 160px;
        }

        .menu__box .btn-blue {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            padding: 16px;
            width: 120px;
        }
        
        .more .menu__item {
            padding: 8px 0;
        }
        
        .i1.open .menu_arrow_rotate.r1 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .i2.open .menu_arrow_rotate.r2 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .i3.open .menu_arrow_rotate.r3 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .i4.open .menu_arrow_rotate.r4 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .i5.open .menu_arrow_rotate.r5 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .i6.open .menu_arrow_rotate.r6 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .i7.open .menu_arrow_rotate.r7 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .i8.open .menu_arrow_rotate.r8 {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #333;
            transition-duration: 0.25s;
            border-radius: 100px;
        }
        
        .menu__btn>span::before {
            content: "";
            top: -8px;
        }
        
        .menu__btn>span::after {
            content: "";
            top: 8px;
        }
        
        .menu__box {
            z-index: var(--z-dropdown);
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            bottom: 0;
            right: -100%;
            width: 100%;
            margin: 0;
            padding-top: 80px;
            list-style: none;
            background-color: #fff;
            box-shadow: 1px 0 6px rgb(0, 0, 0, 0.2);
            transition-duration: 0.25s;
            min-height: 100%;
            overflow: hidden scroll;
            padding-bottom: 40px;
        }
        
        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: 0.25s;
        }
        
        .menu__item:target {
            background-color: #fff;
        }

        .lastLink {
            color: #2B6BF3 !important;
        }

        .flexContainer {
            display: flex;
            justify-content: space-between;
        }
        
        .more .menu__item .flexContainer > a {
            color: #2B6BF3 !important;
        }
        
        .menuContainer {
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }