        #menu__toggle {
            display: none;
        }
        
        .hamburger-menu {
            z-index: var(--z-menu-button);
            display: block;
        }
        
        .more li {
            font-size: var(--font-size-xl-plus);
            line-height: 29px;
            font-weight: 600;
            color: var(--color-dark);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            position: relative;
        }
        
        .more ul {
            padding: var(--spacing-3);
        }
        .menu__item.open {
            background: var(--color-gray-50);
        }
        
        .more .more_head {
            font-size: var(--font-size-lg);
            line-height: 29px;
            font-weight: 400;
            color: var(--color-dark);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            position: relative;
        }
        
        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(45deg);
        }
        
        #menu__toggle:checked~.menu__btn>span::before {
            top: 0;
            transform: rotate(0);
        }
        
        #menu__toggle:checked~.menu__btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }
        
        #menu__toggle:checked~.menu__box {
            visibility: visible;
            right: 0;
        }
        
        .menu__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: var(--spacing-5);
            right: var(--spacing-5);
            width: 30px;
            height: 20px;
            cursor: pointer;
            z-index: var(--z-menu-button);
        }
        
        .more {
            max-height: 0;
            overflow: hidden;
            position: relative;
            transition: max-height 650ms ease, padding-top 650ms ease;
        }
        
        .menu__item.open .more {
            max-height: 100vh;
            padding-top: 0px;
        }
        
        .menu_arrow_rotate {
            margin-left: 15px;
            filter: invert(100%);
            transition-duration: 650ms;
        }
        
        .menu_arrow {
            margin-left: 15px;
            filter: invert(100%);
        }
        
        .menu__box .btn-red {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            padding: 16px;
            width: 120px;
        }

        .menu__box .btn-blue {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            padding: 16px;
            width: 120px;
        }
        
        .more .menu__item {
            padding: 8px 0;
        }
        
        .menu__item.open .menu_arrow_rotate {
            transition-duration: 650ms;
            transform: rotate(90deg);
        }
        
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--color-text-primary);
            transition-duration: 0.25s;
            border-radius: 100px;
        }
        
        .menu__btn>span::before {
            content: "";
            top: -8px;
        }
        
        .menu__btn>span::after {
            content: "";
            top: 8px;
        }
        
        .menu__box {
            z-index: var(--z-dropdown);
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            bottom: 0;
            right: -100%;
            width: 100%;
            margin: 0;
            padding-top: 80px;
            list-style: none;
            background-color: var(--color-white);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            transition-duration: 0.25s;
            min-height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-bottom: 40px;
        }
        
        .menu__item {
            display: block;
            padding: var(--spacing-3) var(--spacing-6);
            color: var(--color-black);
            font-size: var(--font-size-xl-plus);
            font-weight: 600;
            text-decoration: none;
            transition-duration: 0.25s;
        }
        
        .menu__item:target {
            background-color: var(--color-white);
        }

        .lastLink {
            color: var(--color-primary) !important;
        }
        .flexContainer {
            display: flex;
            justify-content: space-between;
        }
        
        .more .menu__item .flexContainer > a {
            color: var(--color-primary) !important;
        }
        
        .menuContainer {
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }