@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

* {
    box-sizing: border-box;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px; 
    padding: 10px;
}

.product-group {
    width: 100%;
}

.product-group > h1{
    max-width: 800px;
    margin: 0 auto 20px auto;
    margin-bottom: 20px;
    width: 100%;
    color: #0066CC;
    font-size: 22px;
}

.product-card {
    background-color: #ffffff;
    
    border: 1px solid #BABABA;
    border-radius: 24px; 
    padding: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto 20px auto; 
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 16px;
}

.image-container img {
    object-fit: cover;
    border-radius: 18px; 
    width: 100%;
    height: auto;
}

.slider {
    position: absolute;
    bottom: 4px; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    gap: 8px; 
}

.slider div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e2e8f0;
}

.slider div.active {
    background-color: #111;
    border-left: none;
}

.text-primary {
    color: #111;
}

.font-title {
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 700;
    font-size: 20px;
    color: #0A2540;
   
    align-self: flex-start;
    margin-bottom: 20px;
}

.price {
    color: #111;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.availability {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.color-options button {
    width: 40px;
    height: 40px; 
    border-radius: 4px; 
    border: 2px solid #e8e8e8; 
}

.color-options button.black {
    background-color: black;
}

.color-options button.white {
    background-color: #f9fafb; 
}

.lowerRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 240px;
    align-items: center;
}

.product-link-container {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.product-details-btn {
    padding: 10px 24px;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}


@media (min-width: 768px) {
    .product-card {
        flex-direction: row;
        align-items: flex-start;
        max-width: 800px;
    }

    .image-container {
        width: 400px; 
        height: 240px;
        max-width: none;
        margin-bottom: 0;
    }

    .lowerRow {
        flex-direction: row;
    }

    .text-primary {
        font-size: 28px;
    }

    .font-title,
    .availability,
    .price {
        text-align: left;
    }

    .product-link-container {
        justify-content: flex-start;
    }
   
}